body{
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.container-fluid{
  margin-top: 0.7rem;
}
.media-body{
  line-height: 7px;
}
.media-body p{
  color:#2b16fb;
}
.navbar a{
  margin-left: 0.6rem;
  color:white!important;
}
.carousel img{

  max-width: 100%;
  max-height: 500px!important;
}
.dropdown-menu .dropdown-item{
margin:0;
background-color: black;

}

.dropdown-menu{
  padding: 0;
}
.dropdown:hover .dropdown-menu{
  display: block;


}
.dropdown-menu a:hover{
  background-color: blue;

}

.fas{
  font-size: 30px
}
.dropdown-menu .dropdown-item:focus{
  background-color: blue;

}
.table2 td{
  box-shadow: 10px 10px 25px blue,0 0 10px green,0 0 30px lightblue;
}
.table1 td{
  background-color: black;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.sid p{
  line-height: 10px!important;
}
.sid p a{
  margin-right:2rem!important;
  color: white;
  font-size: 20px
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before{
  content:''!important;
}
nav a:hover{
  background-color:blue;

}
. media  . media-body h5, p{

font-weight:bold;
}
